server:
  port: 8761
spring:
  application:
    name: discovery_service
  # tat chuc nang kiem tra tuong thich giua spring boot va spring cloud
  cloud:
    compatibility-verifier:
      enabled: false
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

